[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
pandas = "*"
numpy = "*"
jupyter = "*"
ipykernel = "*"
seaborn = "*"
pandoc = "*"
nbconvert = "*"

[dev-packages]

[requires]
python_version = "3.8"
